body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $font-text;
  color: $color-text;
  font-weight: 300;
}

* {
  // да простят меня люди, которые пользуются клавиатурой для навигации
  outline: none;
}

a {
  display: inline-block;
  color: $color-style;
  text-decoration: underline;
  text-decoration-color: rgba($color-style, 0.3);
  font-weight: 500;
  &:hover {
    text-decoration: none;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  color: $color-title;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1.5em;
  letter-spacing: 0.025em;
}

h1 {
  color: $color-title;
  font-family:  $font-title;
  font-size: 52px;
  font-weight: 300;

  @include media(msd) {
    font-size: 42px;
  }

  @include media(mtl) {
    font-size: 36px;
  }

  @include media(msl) {
    font-size: 24px;
  }

}

h2 {
  font-size: 34px;
  font-weight: 300;

  @include media(msd) {
    font-size: 26px;
  }

  @include media(mtl) {
    font-size: 22px;
  }

  @include media(msl) {
    font-size: 20px;
  }
}

h3 {
  font-size: 26px;
  font-weight: 500;

  @include media(msd-2) {
    font-size: 24px;
  }

  @include media(msp) {
    font-size: 22px;
  }
}

h4 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.025em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

strong {
  font-weight: 700;
}

.phone,
.email {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}