@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.fade-enter-active {
  transition-duration: 0.2s;
  opacity: 1;
  transform: translateX(0);
}
.fade-enter {
  opacity: 0;
  transform: translateX(100px);
}

.fade-leave-active {
  transform: translateY(100px);
  opacity: 0;
  transition-duration: 0.2s;
}


svg path {
  will-change: auto;
  stroke-width: 20px;
  stroke-miterlimit: round;
  transition: stroke-dashoffset 850ms ease-in-out;
}

