@mixin media($break-point) {
  @if $break-point == retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2), /* для Safari, Safari IOS */
    only screen and (min-resolution: 192dpi), /* для IE 10, IE 11, Opera Mini */
    only screen and (min-resolution: 2dppx) {
      @content;
    }
  }
  @if $break-point == md {
    @media screen and (min-width: ($md+100px)) {
      @content;
    }
  }

  @if $break-point == msd {
    @media screen and (max-width: ($msd+-1)) {
      @content;
    }
  }

  @if $break-point == mtl {
    @media screen and (max-width: ($md + 100px)) {
      @content;
    }
  }
  @if $break-point == mtp {
    @media screen and (max-width: ($mtl+-1)) {
      @content;
    }
  }
  @if $break-point == mtp-only {
      @media screen and (max-width: ($mtl+-1px)) and (min-width: $mtp) {
          @content;
      }
  }
  @if $break-point == msl {
      @media screen and (max-width: ($mtp+-1px)) {
          @content;
      }
  }
  @if $break-point == msl-only {
      @media screen and (max-width: ($mtp+-1px)) and (min-width: $msl) {
          @content;
      }
  }
  @if $break-point == msp {
    @media screen and (max-width: ($msl+-1px)) {
      @content;
    }
  }
}

@mixin grid {
  box-sizing: border-box;
  max-width: $md;

  @include media(mtp) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @include media(msl) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@mixin disable-grid {
  max-width: unset;

  @include media(mtl) {
    padding-right: initial;
    padding-left: initial;
  }

  @include media(msl) {
    padding-right: initial;
    padding-left: initial;
  }
}

@mixin list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}