@lost flexbox flex;

//$mb-resp: 2.463328vw;

$md: 1170px;

$msd: 1600px;
$mtl: 980px;
$mtp: 768px;
$msl: 480px;
$msp: 320px;


$color-style: hsl(198, 92%, 25%); // #05597c
$color-text: hsl(0, 0%, 25%);
$color-title: hsl(198, 30%, 25%);

// Open Sans
//$font-text: 'Open Sans', sans-serif;
//$font-title: 'Open Sans', sans-serif;

// Montserrat
$font-text: 'Montserrat', sans-serif;
$font-title: 'Montserrat', sans-serif;


$shadow: 0 0 29px rgba(46, 141, 222, 0.17);

$shadow-button: 0 5px 20px 4px rgba(#000,0.3);
$shadow-button-hover: 0 8px 20px 10px rgba(0, 0, 0, 0.2);

$shadow-hover: 0 15px 29px rgba(46, 141, 222, 0.17);
$shadow-card: 0 0 40px rgba(51, 131, 182, 0.15);
$shadow-card-hover: 0 20px 40px rgba(51, 131, 182, 0.15);
$shadow-block: 0 0 51px rgba(32, 106, 153, 0.11);


$gradient: linear-gradient(-20deg, hsl(198, 40%, 25%) 0%, hsl(198, 92%, 33%) 100%);



$menu-bar-width: 300px;
$menu-bar-width--mtl: 230px;


$page-padding-left: 75px;
$page-padding-left-small-desk: 40px;

$slider-anim-duration: 1;
//$slider-timing-function: cubic-bezier(0.375, 0.880, 0.435, 0.905);