-
    var site = {
    phone: '8 800 707-95-97',
    mail: 'info@gmail.ru',
    name: 'Название сайта',
    slogan: 'Слоган сайта',
    logo: './files/logo.png'
    };

    var slider = [
    {
    title: 'Российский портал <span>онкогематологов</span>',
    body: 'Здесь вы всегда сможете найти новейшую информацию из мира науки и практики.',
    image: './files/slider/slider-01.png',
    imageMob: './files/slider/slider-01@mob.png'
    },
    {
    title: 'Российский портал <span>онкогематологов</span>',
    body: 'Здесь вы всегда сможете найти новейшую информацию из мира науки и практики.',
    image: './files/slider/slider-02.png',
    imageMob: './files/slider/slider-01@mob.png'
    }
    ];
    var news = [
    {
    type: 'event',
    label: 'Мероприятие',
    date: 'С <strong>12</strong> по <strong>15</strong> июля <strong>2018</strong>',
    time: 'Начало: <strong>10:00</strong>',
    title: 'Мастер-класс ESO по клинической онкологии',
    body: 'C 12 по 15 июля 2018 года в Риге пройдет мастер-класс ESO по клинической онкологии...',
    image: './files/news/news-1.jpg'
    },
    {
    type: 'news',
    label: 'Новости',
    date: 'Апрель 25, 2018',
    title: 'Библиотека: Рак легкого',
    body: 'Терапия рака легкого при наличии мутации в гене EGFR, решение проблемы резистентности к ИТК EGFR. ',
    image: './files/news/news-1.jpg'
    },
    {
    type: 'news',
    label: 'Новости',
    date: 'Апрель 25, 2018',
    title: 'Рак почек уличили в "краже" генов',
    body: 'Раковые клетки смогли "захватить гены" которые обычно включаются в лейкоцитах. Фотография Global Look Press.',
    image: './files/news/news-2.jpg'
    }
    ];
    var partners = [
    './files/clients/client-1.png',
    './files/clients/client-2.png',
    './files/clients/client-3.png',
    './files/clients/client-4.png',
    './files/clients/client-5.png',
    './files/clients/client-1.png'
    ];
    var events = [
    {
    label: 'Вебинар',
    city: 'Москва',
    date: '<strong>9</strong> июля <strong>2018</strong>',
    time: 'Начало: <strong>16:00</strong>',
    title: 'Лекарственная терапия HER2-негативного гормонзависимого рака молочной железы»',
    body: 'C 12 по 15 июля 2018 года в Риге пройдет...',
    image: './files/events/event-1.jpg'
    },
    {
    label: 'Конференция',
    city: 'Санкт-Перербург',
    date: 'С <strong>12</strong> по <strong>15</strong> июля <strong>2018</strong>',
    time: 'Начало: <strong>10:00</strong>',
    title: 'RUSSCO «Рак молочной железы»',
    body: 'C 12 по 15 июля 2018 года в Риге пройдет мастер-класс ESO по клинической онкологии...',
    image: './files/events/event-1.jpg'
    },
    {
    label: 'Семинар',
    city: 'Самара',
    date: '<strong>18</strong> июля <strong>2018</strong>',
    time: 'Начало: <strong>10:00</strong>',
    title: '«Принципиальные подходы в лечении рака легкого»',
    body: 'C 12 по 15 июля 2018 года в Риге пройдет мастер-класс ESO по клинической онкологии...',
    image: './files/events/event-2.jpg'
    },
    {
    label: 'Вебинар',
    city: 'Москва',
    date: '<strong>9</strong> июля <strong>2018</strong>',
    time: 'Начало: <strong>16:00</strong>',
    title: 'Лекарственная терапия HER2-негативного гормонзависимого рака молочной железы»',
    body: 'C 12 по 15 июля 2018 года в Риге пройдет...',
    image: './files/events/event-1.jpg'
    },
    {
    label: 'Конференция',
    city: 'Санкт-Перербург',
    date: 'С <strong>12</strong> по <strong>15</strong> июля <strong>2018</strong>',
    time: 'Начало: <strong>10:00</strong>',
    title: 'RUSSCO «Рак молочной железы»',
    body: 'C 12 по 15 июля 2018 года в Риге пройдет мастер-класс ESO по клинической онкологии...',
    image: './files/events/event-2.jpg'
    },
    {
    label: 'Семинар',
    city: 'Самара',
    date: '<strong>18</strong> июля <strong>2018</strong>',
    time: 'Начало: <strong>10:00</strong>',
    title: '«Принципиальные подходы в лечении рака легкого»',
    body: 'C 12 по 15 июля 2018 года в Риге пройдет мастер-класс ESO по клинической онкологии...',
    image: './files/events/event-1.jpg'
    },
    {
    label: 'Вебинар',
    city: 'Москва',
    date: '<strong>9</strong> июля <strong>2018</strong>',
    time: 'Начало: <strong>16:00</strong>',
    title: 'Лекарственная терапия HER2-негативного гормонзависимого рака молочной железы»',
    body: 'C 12 по 15 июля 2018 года в Риге пройдет...',
    image: './files/events/event-2.jpg'
    },
    {
    label: 'Конференция',
    city: 'Санкт-Перербург',
    date: 'С <strong>12</strong> по <strong>15</strong> июля <strong>2018</strong>',
    time: 'Начало: <strong>10:00</strong>',
    title: 'RUSSCO «Рак молочной железы»',
    body: 'C 12 по 15 июля 2018 года в Риге пройдет мастер-класс ESO по клинической онкологии...',
    image: './files/events/event-2.jpg'
    },
    {
    label: 'Семинар',
    city: 'Самара',
    date: '<strong>18</strong> июля <strong>2018</strong>',
    time: 'Начало: <strong>10:00</strong>',
    title: '«Принципиальные подходы в лечении рака легкого»',
    body: 'C 12 по 15 июля 2018 года в Риге пройдет мастер-класс ESO по клинической онкологии...',
    image: './files/events/event-1.jpg'
    }
    ];
    var eventsFooter = [
    {
    label: 'Мастер-класс',
    title: '«Химиотерапия и иммунотерапия НМРЛ»',
    image: './files/events/event-footer-1.png'
    },
    {
    label: 'Семинар из цикла',
    title: '«Опухоли ЖКТ – Рак желудка»',
    image: './files/events/event-footer-2.png'
    }
    ];
    var newsFooter = [
    {
    date: '18.06.2018',
    title: 'Л.Ю. Владимирова: «ASCO 2018: Меланома кожи»',
    image: './files/news/news-footer-3.png'
    },
    {
    date: '18.06.2018',
    title: 'А.А. Румянцев: «ASCO 2018: Исследование GOG... ',
    image: './files/news/news-footer-3.png'
    }
    ];
    var committee = [
    {
    name: 'Войцицкий Владимир Евгеньевич',
    image: './files/persons/person-1.jpg',
    body: 'Главный онколог Новосибирской области, заслуженный врач РФ, заведующий кафедрой онкологии НГМУ, главный врач ГБУЗ НСО «Новосибирский областной клинический онкологический диспансер», доктор медицинских наук, профессор, Новосибирск'
    },
    {
    name: 'Соколова Елена Николаевна',
    image: './files/persons/person-2.jpg',
    body: 'Главный онколог Новосибирской области, заслуженный врач РФ, заведующий кафедрой онкологии НГМУ, главный врач ГБУЗ НСО «Новосибирский областной клинический онкологический диспансер», доктор медицинских наук, профессор, Новосибирск'
    },
    {
    name: 'Мамаева Марина Сергеевна',
    image: './files/persons/person-3.jpg',
    body: 'Главный онколог Новосибирской области, заслуженный врач РФ, заведующий кафедрой онкологии НГМУ, главный врач ГБУЗ НСО «Новосибирский областной клинический онкологический диспансер», доктор медицинских наук, профессор, Новосибирск'
    },
    {
    name: 'Соколова Елена Николаевна',
    image: './files/persons/person-4.jpg',
    body: 'Главный онколог Новосибирской области, заслуженный врач РФ, заведующий кафедрой онкологии НГМУ, главный врач ГБУЗ НСО «Новосибирский областной клинический онкологический диспансер», доктор медицинских наук, профессор, Новосибирск'
    }
    ];
    var programm = [
    {
    time: '08:00 – 09:00',
    title: 'Регистрация',
    body: ''
    },
    {
    time: '09:00 – 09:20',
    title: 'Поддубная Ирина Владимировна',
    body: '15 лет – это много или мало?<br>15 лет как один день'
    },
    {
    time: '09:20 – 09:30',
    title: 'EHA Representative',
    body: 'Европейская гематологическая ассоциация. Успехи в международном сотрудничестве за 15 лет. Анализ – как они стали работать за 23 года? Как EHA стало привлекать национальные организации? Что изменилось за эти годы? Как они осуществляют координацию в Европе и в мире? Сколько у них Российских участников'
    },
    {
    time: '09:30 – 10:00',
    title: 'TBD',
    body: 'Современные виды медицинского последипломного образования. Живые мероприятия vs. Multichannel communication – их задачи, цели и возможности. Как в этом работать?<br>Что они дают и чем они отличаются.'
    },
    {
    time: '11:00 – 11:30',
    title: 'TBD',
    body: 'Современные виды медицинского последипломного образования. Живые мероприятия vs. Multichannel communication – их задачи, цели и возможности. Как в этом работать?<br>Что они дают и чем они отличаются.'
    },
    {
    time: '11:30 – 12:00',
    title: 'TBD',
    body: 'Современные виды медицинского последипломного образования. Живые мероприятия vs. Multichannel communication – их задачи, цели и возможности. Как в этом работать?<br>Что они дают и чем они отличаются.'
    },{
    time: '18:00 – 19:00',
    title: 'EHA Representative',
    body: 'Европейская гематологическая ассоциация. Успехи в международном сотрудничестве за 15 лет. Анализ – как они стали работать за 23 года? Как EHA стало привлекать национальные организации? Что изменилось за эти годы? Как они осуществляют координацию в Европе и в мире? Сколько у них Российских участников'
    }
    ];
    var experts = [
    {
    name: 'Аршавин Владимир Евгеньевич',
    image: './files/persons/person-1.jpg',
    body: 'Главный редактор Тhe journal «Malignant tumours» русскоязычного издания журнала «Злокачественные опухоли», Президент фонда «Онкопрогресс», Председатель этического комитета RUSSCO, доктор медицинских наук, профессор, Москва'
    },
    {
    name: 'Бочкарева Марина Сергеевна',
    image: './files/persons/person-2.jpg',
    body: 'Заведующая радиологическим отделением ГУЗ «Областной клинический онкологический диспансер», доцент кафедры лучевой диагностики и онкологии медицинского факультета Института медицины, экологии и физической культуры Ульяновского государственного университета, кандидат медицинских наук, Ульяновск'
    },
    {
    name: 'Волкова Елена Николаевна',
    image: './files/persons/person-3.jpg',
    body: 'Заведующая радиологическим отделением ГУЗ «Областной клинический онкологический диспансер», доцент кафедры лучевой диагностики и онкологии медицинского факультета Института медицины, экологии и физической культуры Ульяновского государственного университета, кандидат медицинских наук, Ульяновск'
    },
    {
    name: 'Гущина Светлана Васильевна',
    image: './files/persons/person-4.jpg',
    body: 'Заместитель директора ГБУЗ «Московский клинический научный центр имени А.С. Логинова ДЗМ», доктор медицинских наук, Москва'
    },
    {
    name: 'Демидов Владимир Евгеньевич',
    image: './files/persons/person-1.jpg',
    body: 'Председатель Российского общества клинической онкологии, Заместитель директора по научной работе, Заведующий отделением клинической фармакологии и химиотерапии ФГБУ «НМИЦ онкологии им. Н.Н. Блохина» Минздрава России, доктор медицинских наук, профессор, Москва'
    },
    {
    name: 'Ермакова Марина Сергеевна',
    image: './files/persons/person-2.jpg',
    body: 'Старший научный сотрудник отделения клинической фармакологии и химиотерапии ФГБУ «НМИЦ онкологии им. Н.Н. Блохина» Минздрава России, Председатель Комитета молодых онкологов RUSSCOjr, член Комитета молодых онкологов ESMO, кандидат медицинских наук, MSc, Москва'
    },
    {
    name: 'Журавлева Елена Николаевна',
    image: './files/persons/person-3.jpg',
    body: 'Заведующая радиологическим отделением ГУЗ «Областной клинический онкологический диспансер», доцент кафедры лучевой диагностики и онкологии медицинского факультета Института медицины, экологии и физической культуры Ульяновского государственного университета, кандидат медицинских наук, Ульяновск'
    },
    {
    name: 'Зулина Светлана Васильевна',
    image: './files/persons/person-4.jpg',
    body: 'Заведующая радиологическим отделением ГУЗ «Областной клинический онкологический диспансер», доцент кафедры лучевой диагностики и онкологии медицинского факультета Института медицины, экологии и физической культуры Ульяновского государственного университета, кандидат медицинских наук, Ульяновск'
    },
    {
    name: 'Ковалев Владимир Евгеньевич',
    image: './files/persons/person-1.jpg',
    body: 'Председатель Российского общества клинической онкологии, Заместитель директора по научной работе, Заведующий отделением клинической фармакологии и химиотерапии ФГБУ «НМИЦ онкологии им. Н.Н. Блохина» Минздрава России, доктор медицинских наук, профессор, Москва'
    },
    {
    name: 'Ларина Марина Сергеевна',
    image: './files/persons/person-2.jpg',
    body: 'Заведующая радиологическим отделением ГУЗ «Областной клинический онкологический диспансер», доцент кафедры лучевой диагностики и онкологии медицинского факультета Института медицины, экологии и физической культуры Ульяновского государственного университета, кандидат медицинских наук, Ульяновск'
    },
    {
    name: 'Морозова Елена Николаевна',
    image: './files/persons/person-3.jpg',
    body: 'Старший научный сотрудник отделения клинической фармакологии и химиотерапии ФГБУ «НМИЦ онкологии им. Н.Н. Блохина» Минздрава России, Председатель Комитета молодых онкологов RUSSCOjr, член Комитета молодых онкологов ESMO, кандидат медицинских наук, MSc, Москва'
    },
    {
    name: 'Нечаева Светлана Васильевна',
    image: './files/persons/person-4.jpg',
    body: 'Руководитель химиотерапевтического отделения Городской онкологической больницы № 62, осква'
    }
    ];
    var direction = [
    {
    image: './files/direction/image-02.jpg',
    name: 'Гущина Светлана Васильевна',
    post: '',
    body: ''
    },
    {
    image: './files/direction/image-03.jpg',
    name: 'Прохоров Михаил Андреевич',
    post: '',
    body: ''
    },
    {
    image: './files/direction/image-04.jpg',
    name: 'Межибовский Игорь Николаевич',
    post: '',
    body: ''
    },
    {
    image: './files/direction/image-05.jpg',
    name: 'Гущина Светлана Васильевна',
    post: '',
    body: ''
    },
    {
    image: './files/direction/image-06.jpg',
    name: 'Соколов Сергей Васильевич',
    post: '',
    body: ''
    },
    {
    image: './files/direction/image-07.jpg',
    name: 'Гущина Светлана Васильевна',
    post: '',
    body: ''
    }
    ];