+b('copyright')
    +e('row')
        +e('company') © ROHS, 2017
        +e('developer') Создание сайтов «
            a(href="#") Студия
            | »
    +e('row')
        +e('links')
            +e('link')(href="#") Положение о защите персональных данных