mixin phone
    - var phoneHref = site.phone.replace(/[\ /\(/\)/-]/g,'')
    +b('phone', {e: '&'})(href="tel:"+phoneHref)= site.phone

mixin email
    +b('email', {e: '&'})(href="mailto:"+site.mail)= site.mail
