- var linkMod = '';

if body_classes.indexOf('front') != -1
    - linkMod = 'white';

+b('topMenu', {},'nav')
    +e('menu', {}, 'ul')
        +e('item', 'expanded')
            +e('link', 'expanded')(href="#") Об обществе
            +e('subMenu', {}, 'ul')
                +e('item'): +e('link')(href="#") Об обществе
                +e('item'): +e('link')(href="#") Об обществе
                +e('item'): +e('link')(href="#") Об обществе
        +e('item'): +e('link')(href="#") Наши Эксперты
        +e('item'): +e('link', linkMod)(href="#") Главные специалисты
        +e('item'): +e('link', linkMod)(href="#") Мероприятия