<template lang="pug">
  include ../../../../node_modules/bempug/index.pug

  +b('allStages')
    +e('nav')
      +e('navButton', '', 'button')(v-for="nav in navs") {{ nav.title }}
    +e('content')
      +b('stage')(v-for="stage in stages")
        +e('title', {}, 'h3') {{ stage.title.value }}
        +e('date')
          +e('label') {{ stage.field_date_start.label }}
          +e('value') {{ stage.field_date_start.value }}
        +e('date')
          +e('label') {{ stage.field_date_end.label }}
          +e('value') {{ stage.field_date_end.value }}
        +e('body') {{ stage.field_body.value[0] }}

</template>

<script>
  let content = require('./store').allData.progress

  export default {
    data: () => {
      return {
        stages: content.stages,
        stagesCount: content.stages.length,
        navs: content.numbers_stage
      }
    },

    methods: {

    },

    created: () => {

    },
  }

</script>