<template lang="pug">
  include ../../../../node_modules/bempug/index.pug

  +b('page', {}, 'body')(class=body_classes)
    +e('layout')
      +e('content', frontMod)


        +e('main', frontMod, 'main')
          transition(name="fade" mode="out-in")
            router-view

        Sidebar

    +b('hamburger', '', 'button'): span Меню
</template>

<script>
  import Sidebar from './Sidebar.vue'

  export default {
    components: {
      Sidebar
    },
    name: 'app'
  }



</script>