<template lang="pug">
  include ../../../../node_modules/bempug/index

  +b('asideMenu',{},'nav')
    +e('menu', {}, 'ul')
      +e('item'): +e('link', '', 'router-link')(to="/") Прогресс
      +e('item'): +e('link', '', 'router-link')(to="/docs") Документы
      +e('item'): +e('link', '', 'router-link')(to="/events") События
      +e('item'): +e('link', 'back')(href="/") Вернуться на сайт
</template>

<script>
  export default {
    name: 'AsideMenu'
  }
</script>