<template lang="pug">
  include ../../../../node_modules/bempug/index.pug

  div
    // pageTitle
    +b('pageTitleBlock', {b: 'block'}, 'section')
      +e('inner', {e: 'block'})
        +b('pageTitle', {e: ['block', '&']}, 'h1') Документы
        +e('dscr') Тут находятся все документы, которые вы передали адвокату

    // docTables
    +b('docTables', {b: 'block'}, 'section')
      +e('inner', {e: 'block'})
        DocsTable

</template>


<script>
  import DocsTable from './DocsTable.vue'

  export default {
    components: { DocsTable }
  }
</script>