<template lang="pug">fields
  include ../../../../node_modules/bempug/index

  +b('table', '', 'table')
    +e('head', 'head', 'thead')
      +e('row', 'head', 'tr')
        +e('cell', 'head', 'th') Дата
        +e('cell', 'head', 'th') Название документа
        +e('cell', 'head', 'th') Скачать
    +e('body', 'head', 'tbody')
      +e('row', '', 'tr')(v-for="doc in docs")
        +e('cell', '', 'td') {{ doc.field_date.value }}
        +e('cell', '', 'td') {{ doc.title.value }}
          +b('tip', {e: '&'})(v-if="")
            +e('sign') ?
            +e('body')(v-html="doc.field_body.value[0].value")
        +e('cell', '', 'td'): +e('download', '', 'a')(:href="doc.field_link.value") Скачать

</template>

<script>
  let content = require('./store.js').allData.documents

  export default {
    data: () => {
      return {
        docs: content
      }
    }
  }

</script>