<template lang="pug">
  include ../../../../node_modules/bempug/index.pug

  div
    // pageTitle
    +b('pageTitleBlock', {b: 'block'}, 'section')
      +e('inner', {e: 'block'})
        +b('pageTitle', {e: ['block', '&']}, 'h1') События
        +e('dscr') Тут видны все события по делу. В начале списка — последние события

    // events
    +b('events', {b: 'block'}, 'section')
      +e('inner', {e: 'block'})
        +e('list', '', 'ul')
          +e('item')(v-for="event in events")
            +e('date','', 'div')
              +e('day', '', 'span') {{ getDay(event.field_date.value) }}
              +e('month', '', 'span') {{ getMonth(event.field_date.value) }}
            +e('body','', 'div') Описание события, которое произошло
</template>


<script>
  let content = require('./store.js').allData.events

  export default {
    data: () => {
      return {
        events: content
      }
    },

    methods: {
      getDay (date) {
        return date.split(' ')[0]
      },
      getMonth (date) {
        return date.split(' ')[1]
      }
    }
  }
</script>