<template lang="pug">
  include ../../../../node_modules/bempug/index
  div

    // pageTitle
    +b('pageTitleBlock', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +b('pageTitle', {e: ['block', '&']}, 'h1') Прогресс

    // currentStage
    +b('currentStage', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('heading', {e: 'block'}, 'h2') Текущий этап
            +e('main')
                ProgressBar
                +b('stage', {e: '&', m: 'main'})
                    +e('title', {}, 'h3') {{ stage.fields.title.value }}
                    +e('date')
                        +e('label') {{ stage.fields.field_date_start.label }}
                        +e('value') {{ stage.fields.field_date_start.value }}
                    +e('body')(v-html="stage.fields.field_body.value[0]")

    // allStages
    +b('allStagesBlock', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('heading', {e: 'block'}, 'h2') Все этапы
            AllStages


</template>


<script>
  import ProgressBar from './ProgressBar.vue'
  import AllStages from './AllStages.vue'
  let content = require('./store').allData.progress.current_stage

  export default {
    name: 'Home',
    components: { ProgressBar, AllStages },
    data: () => {
      return {
        stage: content
      }
    }
  }

  console.log(content)
</script>