<template lang="pug">
  include ../../../../node_modules/bempug/index

  +b('progressBar', {e: 'currentStage'})


    radial-progress-bar(:diameter="diameter" :completed-steps="completedSteps" :total-steps="totalSteps" :innerStrokeColor="innerStrokeColor" :startColor="startColor" :stopColor="stopColor" :strokeWidth="strokeWidth")

    +e('numbers') {{ completedStepsStatic }}/{{ totalSteps }}

</template>

<script>
  import { allData } from './store.js'
  import RadialProgressBar from 'vue-radial-progress/dist/vue-radial-progress.min.js'

  export default {
    components: {
      RadialProgressBar
    },
    data: () => {
      return {
        counter: allData.progress.current_stage.current_number_stages,
        completedSteps: 0,
        completedStepsStatic: Number(allData.progress.current_stage.current_number_stages.split('/')[0]),
        totalSteps: Number(allData.progress.current_stage.current_number_stages.split('/')[1]),
        innerStrokeColor: '#bcc4c7',
        diameter: '300',
        startColor: '#0773A2',
        stopColor: '#264A59',
        strokeWidth: 12
      }
    },

    created () {
      window.addEventListener('resize', this.setMediaType)
      this.setMediaType()
      this.setInitial()
    },

    methods: {
      setMediaType() {
        let width = window.innerWidth

        if (width >= 1600) {
          this.diameter = 300
          this.strokeWidth= 12
        } else if (1270 <= width && width <1600) {
          this.diameter = 220
          this.strokeWidth= 7
        } else if (768 <= width && width <1270) {
          this.diameter = 170
          this.strokeWidth= 7
        } else if (480 <= width && width <768) {
          this.diameter = 100
          this.strokeWidth= 4
        } else if (width <480) {
          this.diameter = 170
          this.strokeWidth= 6
        }
      },
      setInitial () {
        let self = this
        setTimeout(() => {this.completedSteps = this.completedStepsStatic}, 500)


      }
    }
  }

</script>