+b('asideMenu',{},'nav')
    +e('menu', {}, 'ul')
        +e('item'): +e('link')(href="index.html") Прогресс
        +e('item'): +e('link')(href="documents.html") Документы
        +e('item'): +e('link')(href="events.html") События
        +e('item'): +e('link', 'back')(href="#") Вернуться на сайт