+b('menuBar', {e: 'page', m: 'filled'}, 'aside')
    +b('user', {e: '&'})
        +e('name') Иван Иванович Иванов
        +e('company') Название компании Иван Ивановича
    +e('menu')
        include ./aside-menu
    +b('contactsAside', {e: '&'})
        +e('title') Контакты
        +e('row')
            +e('label') Телефон:
            +e('value'): +phone
        +e('row')
            +e('label') Email:
            +e('value'): +email
        +e('row')
            +e('label') Telegram:
            +e('value'): a(href="#") @enexpert
        +e('row')
            +e('label') VKontakte:
            +e('value'): a(href="#") vk.com/enexpert
        +e('row')
            +e('label') Facebook:
            +e('value'): a(href="#") fb.com/enexpert
    +e('button', {b: 'button'})(href="#form-login" data-popup) Выход
