extend ../layout/layout.pug

block vars
    - var body_classes = ['front'];
    - var title = 'Документы'

block content
    // pageTitle
    +b('pageTitleBlock', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +b('pageTitle', {e: ['block', '&']}, 'h1') Документы
            +e('dscr') Тут находятся все документы, которые вы передали адвокату

    // docTables
    +b('docTables', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +b('table', '', 'table')
                +e('head', 'head', 'thead')
                    +e('row', 'head', 'tr')
                        +e('cell', 'head', 'th') Дата
                        +e('cell', 'head', 'th') Название документа
                        +e('cell', 'head', 'th') Скачать
                +e('body', 'head', 'tbody')
                    +e('row', '', 'tr')
                        +e('cell', '', 'td') 04.07.2018
                        +e('cell', '', 'td') Название документа
                            +b('tip', {e: '&'})
                                +e('sign') ?
                                +e('body') Подсказка, которая появляется при наведении или клике на вопросик
                        +e('cell', '', 'td'): +e('download', '', 'a')(href="#") Скачать
                    +e('row', '', 'tr')
                        +e('cell', '', 'td') 04.07.2018
                        +e('cell', '', 'td') Название документа
                        +e('cell', '', 'td'): +e('download', '', 'a')(href="#") Скачать
                    +e('row', '', 'tr')
                        +e('cell', '', 'td') 04.07.2018
                        +e('cell', '', 'td') Название документа
                            +b('tip', {e: '&'})
                                +e('sign') ?
                                +e('body') Подсказка, которая появляется при наведении или клике на вопросик
                        +e('cell', '', 'td'): +e('download', '', 'a')(href="#") Скачать






