extend ../layout/layout.pug

block vars
    - var body_classes = ['front'];
    - var title = 'Документы'

block content
    // pageTitle
    +b('pageTitleBlock', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +b('pageTitle', {e: ['block', '&']}, 'h1') События
            +e('dscr') Тут видны все события по делу. В начале списка — последние события

    // events
    +b('events', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('list', '', 'ul')
                for i in Array(6)
                    +e('item')
                        +e('date','', 'div')
                            +e('day', '', 'span') 07
                            +e('month', '', 'span') июля
                        +e('body','', 'div') Описание события, которое произошло






