extend ../layout/layout.pug

block vars
    - var body_classes = ['front'];
    - var title = 'Главная'

block content
    // pageTitle
    +b('pageTitleBlock', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +b('pageTitle', {e: ['block', '&']}, 'h1') Прогресс

    // currentStage
    +b('currentStage', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('heading', {e: 'block'}, 'h2') Текущий этап
            +e('main')
                +b('progressBar', {e: '&'})
                    +e('circle')
                    +e('numbers') 3/5
                +b('stage', {e: '&', m: 'main'})
                    +e('title', {}, 'h3') Название этапа, который идет в данный момент
                    +e('date')
                        +e('label') Дата начала:
                        +e('value') 04.07.2018
                    +e('body') Небольшое описание этапа, чтобы клиент понимал, что сейчас происходит. тут можно <strong>оставить указания</strong> для клиента, что ему нужно сделать, какие документы подготовить и, например, оставить <a href="#">ссылку</a> куда-нибудь

    // allStages
    +b('allStages', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('heading', {e: 'block'}, 'h2') Все этапы
            +e('nav')
                +e('navButton', '', 'button') 01
                +e('navButton', {m: 'current'}, 'button') 02
                +e('navButton', {m: 'upcoming'}, 'button') 03
                +e('navButton', {m: 'upcoming'}, 'button') 04
                +e('navButton', {m: 'upcoming'}, 'button') 05
                +e('navButton', {m: 'upcoming'}, 'button') 06
                +e('navButton', {m: 'upcoming'}, 'button') 07
                +e('navButton', {m: 'upcoming'}, 'button') 08
                +e('navButton', {m: 'upcoming'}, 'button') 09
                +e('navButton', {m: 'upcoming'}, 'button') 10
            +e('content')
                +b('stage')
                    +e('title', {}, 'h3') Название этапа, который идет в данный момент
                    +e('date')
                        +e('label') Дата начала:
                        +e('value') 04.06.2018
                    +e('date')
                        +e('label') Дата начала:
                        +e('value') 04.07.2018
                    +e('body') Небольшое описание этапа, чтобы клиент понимал, что сейчас происходит. тут можно <strong>оставить указания</strong> для клиента, что ему нужно сделать, какие документы подготовить и, например, оставить <a href="#">ссылку</a> куда-нибудь.





