.allStages__nav {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  @include media(mtl) {
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.allStages__navButton {
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 900;
  color: $color-title;
  line-height: 1;
  font-size: 40px;
  margin-right: 70px;
  padding: 10px 0;
  position: relative;
  transition-duration: 0.3s;

  @include media(msd) {
    font-size: 34px;
    margin-right: 50px;
  }

  @include media(mtl) {
    font-size: 30px;
    margin-right: 0;
    padding: 7px 0;
  }

  @include media(msl) {
    font-size: 20px;
    padding: 4px 0;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: $color-title;
    transition-duration: 0.3s;
    display: block;

    @include media(msl) {
      height: 1px;
    }
  }

  &::before {
    top: 0;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
  }

  &::after {
    bottom: 0;
  }

  &:hover,
  &--current {
    color: $color-style;
    &::before,
    &::after {
      width: 90px;
      background-color: $color-style;

      @include media(mtl) {
        width: 70px;
      }

      @include media(msl) {
        width: 40px;
      }
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &--upcoming {
    opacity: 0.3;
  }


}

.allStages__content {
}
