.asideMenu {

}

.asideMenu__menu {
  @include list-reset;
}

.asideMenu__item {

  &:first-child {
    & .asideMenu__link {
      border-top: 1px solid hsla(0, 0%, 90%, 0.3);
    }
  }

  &:last-child {
    margin-bottom: 0;

    & .asideMenu__link {
      //border-bottom: none;
    }
  }

  &--expanded {
    position: relative;
  }

}

.asideMenu__link {
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  transition-duration: 0.1s;
  text-decoration: none;
  display: block;
  padding: 15px 0 15px 20px;
  box-sizing: border-box;
  //color: $color-title;
  color: inherit;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);

  @include media(msd) {
    font-size: 16px;
  }

  @include media(mtl) {
    font-size: 14px;
  }

  @include media(mtp) {
    padding: 10px 0;
  }

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    //font-weight: 700;
  }

  &--back {
    position: relative;

    &::after {
      content: '←';
      display: block;
      position: absolute;
      right: 22px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.asideMenu__subMenu {
  @include list-reset;

  position: absolute;
  top: -25px;
  left: calc(100% + 55px);
  max-width: 335px;
  min-width: 230px;
  box-shadow: 0 15px 51px rgba(32, 106, 153, 0.11);
  border-radius: 15px;
  padding: 15px 30px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 3;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: translateX(-20%);
  transition-duration: 0.2s;
  white-space: nowrap;

  @include media(mtp) {
    position: static;
    transform: none;
    max-height: 0;
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: inset 0 0 32px rgba(52, 83, 135, 0.1);
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    max-width: unset;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    left: -5px;
    width: 57px;
    height: 57px;
    border-radius: 10px;
    transform: rotate(-45deg);
    background-color: #fff;
    z-index: -1;

    @include media(mtp) {
      content: none;
    }
  }

  &--open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    transform: translateX(0);

    @include media(mtp) {
      max-height: 300px;
    }
  }
}
