.button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.9px;
  padding: 18px 30px;
  min-width: 180px;
  box-shadow: $shadow-button;
  border-radius: 4px;
  background-color: $color-style;
  border: 1px solid rgba(#fff, 0.2);
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  max-width: 100%;

  @include media(msd) {
    font-size: 14px;
    padding: 14px 25px;
    min-width: 150px;
  }
  
  &:hover {
    box-shadow: $shadow-button-hover;
    background-color: lighten($color-style, 3%);
  }
}

.button--filled {
  background-color: hsl(213, 60%, 50%);
  color: #fff;
  padding-left: 60px;
  padding-right: 60px;
  box-shadow: 0 0 29px rgba(46, 141, 222, 0.7);

  @include media(msp) {
    padding-top: 23px;
    padding-bottom: 23px;
  }
  
  &:hover {
    background-color: $color-style;
    color: #fff;
  }
}

.button--spoiler {
  padding-left: 35px;
  padding-right: 70px;
  min-width: 195px;
  position: relative;

  @include media(msp) {
    width: 100%;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    right: 30px;
    background-image: url(../../images/spoiler.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    transform: translateY(-50%) rotateX(180deg);
  }

  &:hover {
    &::after {
      background-position-y: 100%;
    }
  }

  &.button--closed {
    &::after {
      transform: translateY(-50%) rotateX(0deg);
    }
  }
}

.button--logout {
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  position: relative;
  text-align: left;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 62px;
    background-color: hsl(208, 72%, 60%);
    background-image: url(../../images/logout.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: calc(50% - 3px);

    @include media(msd) {
      width: 50px;
    }

    @include media(msd-2) {
      width: 48px;
    }
  }
}
