.contactsAside {
  font-size: 14px;

  @include media(mtl) {
    font-size: 12px;
  }
}

.contactsAside__title {
  //color: $color-title;
  color: inherit;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 15px;

  @include media(msd) {
    font-size: 20px;
  }
}

.contactsAside__row {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 10px;
}

.contactsAside__label {
  margin-right: 0.4em;
  font-weight: 700;
}

.contactsAside__value {

  a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}
