.currentStage {
  margin-bottom: 100px;

  @include media(msd) {
    margin-bottom: 60px;
  }
}

.currentStage__inner {
}

.currentStage__heading {

  @include media(msp) {
    text-align: center;
    margin-bottom: 20px;
  }
}

.currentStage__main {
  display: flex;
  justify-content: space-between;

  @include media(msp) {
    display: block;
  }
}

.currentStage__progressBar {
  width: 300px;
  margin-right: 40px;
  flex-shrink: 0;

  @include media(msl) {
    margin-right: 20px;
  }

  @include media(msp) {
    margin-right: auto;
    margin-left: auto;
  }

  @include media(msp) {
    margin-bottom: 20px;
  }
}

.currentStage__stage {
  padding-top: 40px;
  flex-grow: 1;

  @include media(mtl) {
    padding-top: 10px;
  }
}
