.events {
}

.events__inner {
  padding-right: 500px;

  @include media(msd) {
    padding-right: 280px;
  }

  @include media(mtl) {
    padding-right: 40px;
  }

  @include media(msl) {
    padding-right: 10px;
  }
}

.events__list {
  @include list-reset;
}

.events__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;

  @include media(msl) {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 90px;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: hsl(0, 0%, 90%);
  }

  &:last-child {
    &::after {
      content: none;
    }
  }
}

.events__date {
  margin-right: 40px;
  flex-shrink: 0;
  text-align: center;
  color: $color-title;
  line-height: 1;
  opacity: 0.5;

  @include media(msp) {
    margin-right: 20px;
    opacity: 0.3;
  }
}

.events__day {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 50px;
  font-weight: 800;

  @include media(msl) {
    font-size: 40px;
  }

  @include media(msp) {
    font-size: 30px;
  }
}

.events__month {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-weight: 800;
  font-size: 20px;

  @include media(msl) {
    font-size: 18px;
  }

  @include media(msp) {
    font-size: 16px;
  }
}

.events__body {
  flex-grow: 1;
  font-size: 20px;

  @include media(msl) {
    font-size: 16px;
    line-height: 1.4;
  }

  @include media(msp) {
    font-size: 14px;
  }
}