$w: 35px;
$w--msl: 30px;
$h: 2px;
$offset: 9px;
$offset--hover: 10px;

.hamburger {
  position: fixed;
  z-index: 1000;
  top: 10px;
  right: 10px;
  background-image: none;
  background-color: transparent;
  //border: 1px solid $color-style;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  font-size: 0;
  padding: 0;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include media(msl) {
    top: 0;
  }

  &:hover {
    span::before {
      bottom: $offset--hover;
    }

    span::after {
      top: $offset--hover;
    }

  }
}

.hamburger span {
  position: relative;
}


.hamburger span,
.hamburger span::before,
.hamburger span::after {
  width: $w;
  height: $h;
  background-color: #fff;
  transition-duration: 0.2s;

  @include media(msl) {
    width: $w--msl;
  }
}

.hamburger span::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  bottom: $offset;
}

.hamburger span::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  top: $offset;
}


.hamburger--opened {

  span::before {
    transform: translate( -45%, 0px) rotate(-45deg);
    bottom: 0;
  }

  span {
    background-color: transparent;
  }

  span::after {
    transform: translate(-45%, -0px) rotate(45deg);
    top: 0;
  }

  &:hover {
    span::before {
      width: $w + 5px;
      bottom: 0;
    }
    span::after {
      width: $w + 5px;
      top: 0;
    }
  }

}