.menuBar {
  padding: 40px 30px 40px;
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  //align-items: flex-start;
  overflow-y: auto;

  @include media(msd) {
    padding-top: 30px;
  }

  @include media(mtl) {
    padding: 20px 15px 30px;
  }

  &--filled {
    color: #fff;
    background-color: $color-style;
    background-image: $gradient;
  }
}

.menuBar__user {
  margin-bottom: 50px;

  @include media(msd) {
    margin-bottom: 30px;
  }

}

.menuBar__menu {
  margin-bottom: 60px;
  margin-right: -30px;

  @include media(msd) {
    margin-bottom: 30px;
  }

  @include media(mtl) {
    margin-right: -15px;
  }
}

.menuBar__contactsAside {
  margin-top: auto;
  margin-bottom: 30px;
  //opacity: 0.6;
  //transition-duration: 0.2s;
}

.menuBar__button {
  align-self: flex-start;

  &--logout {}
}

.menuBar__hiddenMenu {
  margin-bottom: 47px;
  margin-right: -30px;
}
