.mobMenu {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fff;
  padding: 20px 20px 50px;
  box-shadow: 0 15px 51px rgba(32, 106, 153, 0.11);

  opacity: 0;
  visibility: hidden;
  transition-duration: 0.3s;

  @include media(mtl-only) {
    right: unset;
    width: 320px;
  }

  &--open {
    opacity: 1;
    visibility: visible;
  }
}

.mobMenu__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mobMenu__menu {
}

.mobMenu__branding {
}

.mobMenu__button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  box-shadow: $shadow;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 0.2s;
  font-size: 0;
  color: transparent;
  cursor: pointer;

  &:active,
  &:hover {
    box-shadow: $shadow-hover;
  }

  &--login {
    background-image: url(../../images/log-in.png);
    background-size: 24px;
    margin-left: auto;
    margin-right: 18px;
  }

  &--logout {
    display: inline-block;
    display: none;
    width: 100%;
    position: relative;
    background-size: 24px;
    background-position-x: calc(50% - 2px);
    margin-left: auto;
    margin-right: 18px;
    color: #345387;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.8px;
    padding: 20px 24px;
    line-height: 1;
    border-radius: 30px;
    margin-bottom: 30px;

    &::after {
      width: 52px;
    }
  }

  &--close {
    background-image: url(../../images/close.png);
  }
}

.mobMenu__lang {
  margin-top: 20px;
}
