.modal {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color-style , 0.3);
  text-align: center;
  transition-duration: 0.3s;
  overflow-y: auto;

  visibility: hidden;
  opacity: 0;

  @include media(msl) {
    background-color: #fff;
  }

  &:target,
  &--open {
    visibility: visible;
    opacity: 1;

    .modal__inner {
      opacity: 1;
      transform: translate(-50%, -50%);

      @include media(msp) {
        transform: none;
      }
    }
  }
}

.modal__inner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  opacity: 0;
  transition-duration: 0.3s;
  pointer-events: none;

  @include media(msl) {
    top: 0;
    left: unset;
    transform: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.modal__content {
  background-color: #fff;
  position: relative;
  max-width: 530px;
  box-shadow: $shadow-card;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding: 60px 100px 35px;
  pointer-events: auto;

  @include media(msl) {
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
  }
}

.modal__heading {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.025em;
  margin-bottom: 40px;

  @include media(msl) {
    font-size: 22px;
    text-align: left;
    padding-right: 70px;
  }
}

.modal__form {
  margin-bottom: 30px;
}

.modal__forget {
  text-align: center;
  line-height: 1;
  letter-spacing: 0.025em;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover {
  }
}

.modal__close {
  width: 22px;
  height: 22px;
  position: absolute;
  display: block;
  top: 28px;
  right: 28px;
  font-size: 0;
  color: transparent;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  transition-duration: 0.3s;

  @include media(msl) {
    top: 20px;
    right: 20px;
    width: 52px;
    height: 52px;
    box-shadow: $shadow;
    border-radius: 50%;
  }

  &--bg {
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: none;

    @include media(msp) {
      display: none;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}
