.pageTitleBlock {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 80px;

  @include media(msd) {
    padding-bottom: 10px;
    margin-bottom: 50px;
  }

  @include media(mtl) {
    margin-bottom: 40px;
  }

  @include media(mtp) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: $color-style;
    background-image: $gradient;
    z-index: 999;
    box-shadow: 0 -3px 20px 0 #232323;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 1px;
    width: 100vw;
    background-color: hsl(0, 0%, 85%);

    @include media(mtp) {
      height: 2px;
    }
  }
}

.pageTitleBlock__inner {
}

.pageTitleBlock__pageTitle {
  margin-bottom: 0;

  @include media(mtp) {
    color: #fff;
  }
}

.pageTitleBlock__dscr {
  margin-top: 10px;
  font-size: 20px;
  max-width: 35em;
  opacity: 0.8;

  @include media(mtl) {
    margin-top: 5px;
    font-size: 18px;
  }

  @include media(mtp) {
    display: none;
  }
}
