.progressBar {
  position: relative;
  width: 300px;
  height: 300px;

  @include media(msd) {
    width: 220px;
    height: 220px;
  }

  @include media(mtl) {
    width: 170px;
    height: 170px;
  }

  @include media(msl) {
    width: 100px;
    height: 100px;
  }

  @include media(msp) {
    width: 170px;
    height: 170px;
  }
}

.progressBar .radial-progress-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //border: 12px solid $color-style;
  //border-radius: 50%;
  //
  //@include media(msd) {
  //  border-width: 7px;
  //}
  //
  //@include media(msl) {
  //  border-width: 4px;
  //}
  //
  //@include media(msp) {
  //  border-width: 6px;
  //}


  &::after {
    $offset: 25px;
    $offset-msd: 17px;
    content: '';
    display: block;
    position: absolute;
    top: $offset;
    right: $offset;
    bottom: $offset;
    left: $offset;
    border-radius: 50%;
    border: 1px dashed $color-style;
    border-left: none;
    border-top: none;
    border-bottom: 0;
    pointer-events: none;
    animation-name: spin;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    @include media(msd) {
      top: $offset-msd;
      right: $offset-msd;
      bottom: $offset-msd;
      left: $offset-msd;
    }

  }

}

.progressBar__numbers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 200;
  line-height: 1;
  color: $color-title;

  @include media(msd) {
    font-size: 40px;
  }

  @include media(mtl) {
    font-size: 32px;
  }

  @include media(msl) {
    font-size: 22px;
  }

  @include media(msp) {
    font-size: 32px;
  }
}
