.stage {
  padding-right: 150px;

  @include media(mtl) {
    padding-right: 0;
  }
}

.stage__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 15px;
  max-width: 25em;

  @include media(msd) {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.stage__date {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 5px;

  @include media(msd) {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.stage__label {
  font-weight: 700;
  margin-right: 0.4em;
  color: $color-title;
}

.stage__value {
}

.stage__body {
  //margin-top: 25px;
  font-size: 20px;

  @include media(msd) {
    font-size: 16px;
  }

  @include media(msp) {
    font-size: 14px;
  }
}
