.table {
  border-collapse: collapse;

  @include media(mtp) {
    width: 100%;
  }

  @include media(msl) {
    font-size: 14px;
  }

  @include media(msp) {
    display: block;
  }
}

.table__head {
  @include media(msp) {
    display: none;
  }
}

.table__body {

  @include media(msp) {
    display: block;
  }
}

.table__row {
  border-bottom: 1px solid rgba($color-title,0.2);

  @include media(msp) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 10px;
  }
}

.table__cell {
  padding: 15px 25px;

  @include media(msl) {
    padding: 10px;
  }

  @include media(msp) {
    padding: 0;
    position: relative;
  }

  &--head {
    text-align: left;
  }

  &:nth-child(2) {
    @include media(msp) {
      order: -1;
      width: 100%;
      color: $color-title;
      font-weight: 500;
    }
  }

}

.table__tip {
  display: inline-block;
  margin-left: 0.6em;
}

.table__download {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 0;
  color: transparent;
  width: 30px;
  height: 30px;
  background-image: url(../images/download.svg);
  background-size: contain;
  background-position: center;
}
