.tip {
  position: relative;

  @include media(msp) {
    position: static;
  }

  &:hover {

    & .tip__sign {
      background-color: $color-style;
      transition-delay: 0;
    }

    & .tip__body {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.tip__sign {
  border-radius: 50%;
  background-color: hsl(0, 0%, 70%);
  color: #fff;
  font-weight: 700;
  text-align: center;
  width: 20px;
  line-height: 20px;
  //text-indent: -1px;
  font-size: 14px;
  cursor: default;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}

.tip__body {
  position: absolute;
  top: -7px;
  left: calc(100% + 10px);
  box-sizing: border-box;
  padding: 15px 20px 20px;
  border-radius: 3px;
  width: 300px;
  background-color: #fff;
  font-size: 12px;
  box-shadow: 0 0 10px -2px rgba(#000, 0.3);
  transition-duration: 0.3s;
  transition-delay: 0.1s;
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  z-index: 9;

  @include media(mtp) {
    top: 30px;
    left: unset;
    right: 0;
  }

  @include media(msp) {
    top: calc(100% + 10px);
    width: 250px;
  }
}