.user {
  //color: $color-title;
  color: inherit;
}

.user__name {
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 5px;

  @include media(mtl) {
    font-size: 14px;
  }
}

.user__company {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  opacity: 0.6;

  @include media(mtl) {
    font-size: 12px;
  }
}
