.page {

  &--noScroll {
    overflow: hidden;
  }
}

.page__layout {
  position: relative;
  padding-left: $menu-bar-width;
  overflow: hidden;

  @include media(mtl) {
    padding-left: $menu-bar-width--mtl;
  }

  @include media(mtp) {
    padding-left: 0;
  }
}

.page__content {
  padding-left: $page-padding-left;
  position: relative;
  //background-color: hsl(0,0%, 96%);
  background-color: hsl(0,0%,98%);
  //background-image: linear-gradient(230deg, hsl(0, 0%, 81%) 0%, #fff 60%);
  min-height: 100vh;
  box-sizing: border-box;

  @include media(mtl) {
    padding-left: 40px;
    padding-right: 20px;
  }

  @include media(mtp) {
    padding-left: 0;
    padding-right: 0;
  }
}

.page__main {
  padding-top: 40px;
  padding-bottom: 100px;

  @include media(mtl) {
    padding-top: 20px;
  }

  @include media(mtp) {
    padding-top: 100px;
  }

  @include media(msl) {
    padding-bottom: 50px;
    padding-top: 80px;
  }
}

.page__menuBar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $menu-bar-width;
  box-shadow: 0 0 20px rgba(#000, 0.7);
  transition-duration: 0.3s;

  @include media(mtl) {
    width: $menu-bar-width--mtl;
  }

  @include media(mtp) {
    transform: translateX(-150%);
    top: 67px;
  }

  @include media(msl) {
    top: 52px;
  }

  @include media(msp) {
    width: 100%;
  }
  
  &--open {
    transform: translateX(0);
  }
}

.page__footer {}