+e('main')
    +e('about', 'section')
        +e('title', {}, 'h2') Об обществе
        +e('logo')(href="#"): img(src=site.logo alt="")
        +e('body')
            p Phasellus et nisl tellus. Etiam facilisis eu nisi scelerisque faucibus. Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris.
    
            p Etiam facilisis eu nisi scelerisque faucibus. Proin semper suscipit magna, nec imperdiet lacus semper.
    +e('events', {}, 'section')
        +e('title', {}, 'h2') Мероприятия
        +b('eventsFooter', {e: 'footer',b: 'footerList'})
            +e('list', {e: 'footerList'}, 'ul')
                for i in eventsFooter
                    +e('item', {e: 'footerList'})
                        +b('cardFooter', {}, 'article')
                            +e('image')(href="#"): img(src=i.image)
                            +e('main')
                                +e('label') !{i.label}
                                +e('title'): a(href="#") !{i.title}
    +e('news', {}, 'section')
        +e('title', {}, 'h2') Новости
        +b('newsFooter', {e: 'footer'})
            +e('list', {e: 'footerList'}, 'ul')
                for i in newsFooter
                    +e('item', {e: 'footerList'})
                        +b('cardFooter', {}, 'article')
                            +e('image')(href="#"): img(src=i.image)
                            +e('main')
                                +e('date', {}, 'time')(datetime="2018-06-18") !{i.date}
                                +e('title'): a(href="#") !{i.title}
