doctype html


include ../../../node_modules/bempug/index
include ../base/mixins
include ../base/content


-
    var body_classes = ['front'];

    var css = [
        './css/styles.css'
    ];
    var js = [
        './js/app.js'
    ];

block vars

- var frontMod = body_classes.indexOf('front') != -1 ? 'front' : 'not-front';

head
    title !{site.name} | #{title}
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    for i in css
        link(rel="stylesheet" href=i)
    for i in js
        script(type="text/javascript" src=i)

html
    body
        #app
        block content

